<div *ngIf="videosResponse; else loading" class="row">
  <div *ngFor="let item of videosResponse.items" [ngSwitch]="item.id.kind" class="col-12 col-md-6 col-lg-4 mb-4">
    <sfi-channel-card *ngSwitchCase="'youtube#channel'" [channel]="item">...</sfi-channel-card>
    <sfi-video-card *ngSwitchCase="'youtube#video'" [video]="item">...</sfi-video-card>
    <div *ngSwitchDefault>Unsupported type of item</div>
  </div>

  <div *ngIf="videosResponse.nextPageToken" class="col-12 text-center my-5">
    <button (click)="loadMore(videosResponse.nextPageToken)" class="btn btn-primary" [disabled]="loadingMore">
      <span *ngIf="loadingMore" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Load more
    </button>
  </div>
</div>

<ng-template #loading>
  <div class="text-center">
    <div class="spinner-border mt-5 text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>
