<div class="embed-responsive embed-responsive-16by9 mt-5">
  <iframe
    class="embed-responsive-item"
    [src]="id$ | async"
    frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</div>

<ul *ngIf="commentThread$ | async as commentThread" class="list-unstyled mt-5">
  <li *ngFor="let comment of commentThread.items" class="media mt-2">
    <img
      [src]="comment.snippet.topLevelComment.snippet.authorProfileImageUrl"
      class="mr-3"
      [alt]="comment.snippet.topLevelComment.snippet.authorDisplayName"
    />
    <div class="media-body">
      <a [href]="comment.snippet.topLevelComment.snippet.authorChannelUrl">
        <h5 class="mt-0 mb-1">{{ comment.snippet.topLevelComment.snippet.authorDisplayName }}</h5>
      </a>

      {{ comment.snippet.topLevelComment.snippet.textOriginal }}
    </div>
  </li>
</ul>
